/ Google Code for &#36039;&#26009;&#35531;&#27714; Conversion Page
%table{:style => "padding: 1px; border-collapse: collapse; background-color: ffffff", :summary => "Google Site Stats"}
  %tr
    %td{:align => "center", :style => "font-family: arial, sans-serif; font-size: 11px; color: #000000;"}
      Google Site Stats
      %br/
      %a{:href => "https://www.google.com/gwt/n?u=https://services.google.com/sitestats/en.html", :style => "color: #000000"} send feedback
%img{:alt => "", :height => "1", :src => "https://www.googleadservices.com/pagead/conversion/1004961383/imp.gif?value=0&label=aM6RCPnO7QMQ5_yZ3wM&guid=ON&script=0", :width => "1"}/
