!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title 産業技術大学院大学(AIIT)
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    / Le styles
    = stylesheet_link_tag    "bootstrap/application"
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .container
      = yield
    / /container
    / Le javascript
    = javascript_include_tag 'bootstrap/application'
