%section
  %h3 キャンパスの所在地
  %p AIITはりんかい線の品川シーサイド駅を出て徒歩3分に位置します。京急線青物横丁駅、JR京浜東北線大井町駅を利用することもできます。
  %p JR品川駅からは[品91]または[品93]系統のバスをご利用ください。
  #map_canvas
  %p なお、修士課程の一部の授業は秋葉原ダイビルにあるサテライトキャンパスでも受講できます。
  %a.request{href: '#request'} 資料請求
  %script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
