%section
  %h3 履修証明制度について
  %p 平成19年度の学校教育法の改正により、大学等における「履修証明制度」が創設されました。これは、学生を対象とする学位プログラムの他に、社会人等の学生以外の者を対象とした一定のまとまりのある学習プログラム(履修証明プログラム)です。
  %p 履修証明制度の特徴は、以下の3点です。
  %ol
    %li 大学の学位に比べ、より短期間に修得することが可能。
    %li 再就職やキャリアアップに役立つ社会人向けの教育プログラム。
    %li プログラム修了者には、学校教育法に基づき履修証明書を交付。
  %p 履修証明プログラムの修了者には学校教育法に基づく「履修証明書」が交付されます。この証明書をあなたのキャリアップにお役立てください。
