%h1 Listing forms

%table
  %tr
    %th
    %th
    %th

  - @forms.each do |form|
    %tr
      %td= link_to 'Show', form
      %td= link_to 'Edit', edit_form_path(form)
      %td= link_to 'Destroy', form, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Form', new_form_path
