%section
  %a{name: 'about'}
  %h3 AIITのご紹介
  %p AIIT（産業技術大学院大学）は品川シーサイドエリアに立地する、東京都が設置した公立大学です。平成18（2006）年に開学した、学部を持たない大学院のみの、まだ新しい専門職大学院です。
  %figure
    = image_tag 'landing/shutodaigaku.gif'
  %p 他の大学院と大きく異なり、研究能力の向上ではなく仕事で実際に役に立つ業務遂行能力を身につけることを主眼としたカリキュラムを用意しています。
  %p 情報アーキテクチャ専攻と創造技術専攻の2つの専攻からなり、グローバルに通用するレベルのスキルを備え、実社会で活躍できる高度なプロフェッショナルを育成することをミッションとしています。
  %p また、社会人が働きながら学べるよう、平日の夜間と土曜日のみの通学でも2年間で専門職修士の学位が取得できます。更に、長期履修制度・AIIT単位バンクなどの各種の学修支援体制を整えています。
  %a.request{href: '#request'} 資料請求
