- content_for :title do
  プロジェクトマネジメント・プロフェッショナルスクール

%header
  #banner
    = image_tag 'landing/aiit_logo_200x200.fw.png', {width: '150px'}
    %h1
      プロジェクトマネジメント・
      %br
      プロフェッショナルスクール
    %h2
      産業技術大学院大学
      %br
      履修証明プログラム
  %nav
    %ul
      %li
        %a{href: '#pmp'} プログラムのご紹介
      %li
        %a{href: '#pmp_about'} 概要・対象者など
      %li
        %a{href: '#about'} AIITのご紹介
%article
  %section
    %a{name: 'pmp'}
    %h3 プログラムのご紹介
    %p AIITとPMI日本支部の教育委員会が協力した、プロジェクトマネジメントを基礎から応用まで総合的に学ぶコースとして開発した実務家のためのプロジェクトマネジメント スクールです。
    %p 最低40時間から受講できPMP受験のためのめ学習時間にも、PMP取得者のPDUにも申請可能です。
    %p 講義は土曜日と平日夜を中心に働きながら学ぶことができるよう工夫されています。
    %p 詳しい資料をお送りいたしております。このページのフォームより、資料をお申し込みください（備考欄に「PMPスクール」とご記入ください）。
    %a.request{href: '#request'} 資料請求
  %section
    %a{name: 'pmp_about'}
    %h3 概要・対象者・狙いとスキル
    %p 本プログラムの概要と対象者、狙いとスキルは次のとおりです。
    %h4 ■プログラムの概要
    %p さまざまな視点でプロジェクトマネジメントのスキルを学ぶ機会を提供するために、本コースは3つのユニットから構成されている。
    %ul
      %li ユニット1はプロジェクトマネジメントの基本を学習したい方のための入門的な内容を中心ととする。
      %li ユニット2は実務レベルの模擬プロジェクトの実践の場を提供する。
      %li ユニット3はさらにマネジメント的な視点でプロジェクトマネジメントを整理する。
    %p すべての科目は選択であり、また各ユニットで最低で40時間以上の科目を合格すれば終了とみなす。これによって、業務多忙な受講生が、合計120時間の学習が必要な履修証明を自分のスケジュールに合わせて分割して取得することができる。
    %h4 ■受講対象者
    %p これからプロジェクトリーダーやプロジェクトマネジメントを任されようとしているエンジニア。また、複数のプロジェクトを管理するPMO部門のスタッフ、さらにはプロジェクトを統括するマネジメントも対象とする。
    %h4 ■プログラムの狙い・修得できるスキル
    %p プロジェクトマネジメントに関してPMBOKを基礎とする基本的な知識から、パーソナルスキル、リーダシップなどさまざまな視点での基礎的な知識を整理して学ぶことを目的とする。
    %p さらにリスクマネジメントやEVMなどより高度な技法や技術を学びやすいように選択して学ぶことができるようにする。
    %p そしてこれらの単体の知識やスキルを総合的に活用する訓練の場として、100人月規模の実務レベルの模擬プロジェクトを実施するコースも提供し、実践で活用できる能力の養成など幅広い学習の場を提供することを目的とする。
    %a.request{href: '#request'} 資料請求
  = render 'about'
%aside
  = render 'access'
  = render 'request'
