!!!
%html
  %head
    %title Application Layout
    = stylesheet_link_tag    "shared/application", :media => "all"
    = javascript_include_tag "shared/application"
    = csrf_meta_tags
  %body
    = yield